@import './styles/theme';
@import './node_modules/skeleton-scss/scss/skeleton';
@import './styles/skeleton-getting-started';
@import './styles/sections';

body {
  background-image: url('./assets/background.svg');
  background-size: cover;
  background-attachment: fixed;
}
