<main>
    <header><slot name="heading"></slot></header>
    <table class="pricing-table">
        <tbody>
            <tr>
                <td>Accès à la solution</td>
                <td><slot name="availability"><span class="nice">24/7</span></slot></td>
            </tr>
            <tr>
                <td><div class="larger-than-phablet">Nombre de comptes</div><div class="smaller-than-phablet">Comptes</div> utilisateurs</td>
                <td><slot name="users"><span class="nice">Illimités</span></slot></td>
            </tr>
            <tr>
                <td>Performance réseau</td>
                <td><slot name="networking">Modérée</slot></td>
            </tr>
            <tr>
                <td>Base de données</td>
                <td><slot name="database">Partagée</slot></td>
            </tr>
            <tr>
                <td>Support aux utilisateurs</td>
                <td><slot name="support"><span class="nice">Chat en direct</span></slot></td>
            </tr>
            <tr class="new-section">
                <td>Chiffrement <span class="larger-than-phablet">de bout en bout</span></td>
                <td><slot name="encryption"><span class="nice">✓</span></slot></td>
            </tr>
            <tr>
                <td>Sauvegarde quoditienne</td>
                <td><slot name="backup"><span class="nice">✓</span></slot></td>
            </tr>
            <tr>
                <td>Réplication des données</td>
                <td><slot name="data-replication"><span class="nice">✓</span></slot></td>
            </tr>
            <tr>
                <td>Monitoring <span class="larger-than-phablet">de l'activité</span>des serveurs</td>
                <td><slot name="server-monitoring">✗</slot></td>
            </tr>
            <tr class="new-section">
                <td>Nombre d'agents actifs</td>
                <td><slot name="employees"></slot></td>
            </tr>
            <tr>
                <td>Accès aux mises à jour</td>
                <td><slot name="updates"><span class="nice">✓</span></slot></td>
            </tr>
            <tr>
                <td><span class="larger-than-phablet">Développement de modules</span><span class="smaller-than-phablet">Modules</span> personnalisés</td>
                <td><slot name="agile">✗</slot></td>
            </tr>
        </tbody>
    </table>
    <footer><slot name="footer"></slot></footer>
</main>
