<main-heading>
    <div reveal slot="title" class="container">
        <h3 class="section-heading">Qui sommes-nous&nbsp;?</h3>
    </div>
</main-heading>

<div class="section">
    <div class="container">
        <h3 reveal>NCLS&nbsp;Development</h3>
        <div class="ncls-grid">
            <p reveal class="section-description">
                La solution Orca est offerte par la société NCLS&nbsp;Development.<br />
                Nous sommes une équipe de passionnés basés en Bretagne et avons créé cette entreprise fin 2014 avec l'objectif de proposer un outil simple et moderne de gestion de la sécurité au travail.
            </p>
            <img reveal class="ncls-logo extra-margin" alt="NCLS Development, logo" data-src="/assets/about-us/logo-main.svg">
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <h3 reveal>Nos valeurs</h3>
        <div reveal class="philosophy-card card">
            <div class="nameplate">
                <h5 class="name">Éric</h5>
                <div>Président</div>
            </div>
            <div class="hr"></div>
            <img class="picture" alt="Éric, Founder" data-src="/assets/about-us/eric.jpg">
            <div class="philosophy-quote">
                <h5>Simplicité</h5>
                <p>Nos proposons un outil ergonomique que vous pouvez adopter en toute simplicité, sans formation préalable.</p>
                <h5>Autonomie</h5>
                <p>C'est vous qui avez le contrôle. Ajoutez de nouvelles habilitations ou de nouveaux types d'équipement sans frais, et sans attendre.</p>
                <h5>Efficacité</h5>
                <p>Gérez vos formations, maintenez votre registre sécurité, éditez vos fiches d'émargement et panneaux d'affichage réglementaire, consultez vos statistiques et établissez votre planning pour conformer vos sites aux recommendations légales avec notre solution tout-en-un.</p>
            </div>
        </div>
    </div>
</div>
