.section.footer {
  padding-top: 12rem;
  padding-bottom: 3rem;
  text-align: center;
  clip-path: url('#cut-topleft');
  @media($bp-larger-than-phablet) {
    padding-top: 16rem;
    clip-path: url('#cut-topleft-more');
  }
  @media($bp-larger-than-desktop) {
    padding-top: 19rem;
    clip-path: url('#cut-topleft-most');
  }

  a,
  a:hover,
  a:visited {
    color: #ccc;
  }

  orca-logo {
    --primary-color: crimson;
    max-width: 80%;
    @media($bp-larger-than-tablet) {
      & {
        max-width: 100%;
      }
    }
  }

  .footer-grid {
    display: grid;
    grid-row-gap: 2rem;
    grid-template: 'Logo' 'a' 'b';
    padding-bottom: 5rem;
    @media ($bp-larger-than-phablet) {
      grid-template: 'Logo Logo' 'a b';
      padding-bottom: 9rem;
    }
    @media ($bp-larger-than-tablet) {
      grid-column-gap: 4%;
      grid-template: 'Logo Logo a b' / 2fr 1fr 1fr;
      padding-bottom: 12rem;
    }
  }

  .footer-cell {
    @include center-content;
    white-space: nowrap;
    @media($bp-larger-than-tablet) {
      text-align: left;
    }
  }

  .legal-notice {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 4%;
    align-items: center;
    font-size: smaller;
    @media ($bp-larger-than-phablet) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
    }
  }
}
