.section.medias {
  .media-section {
    display: grid;
    grid-gap: 4%;
    align-items: center;

    + .media-section {
      margin-top: 7rem;
    }

    .diagram-media {
      grid-row: 1;
      max-width: 550px;

      img {
        width: 100%;
      }
    }
    @media ($bp-larger-than-tablet) {
      grid-template-columns: 1fr 1fr;

      + .media-section {
        margin-top: 10rem;
      }

      .diagram-media {
        grid-row: unset;
      }

      .diagram-desc {
        text-align: right;
      }

      .diagram-media + .diagram-desc {
        text-align: left;
      }
    }
  }

  .rotating-cards-container {
    position: relative;
    perspective: 1000px;

    img {
      box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    }

    .rotating-card {
      border-radius: 3px;
      opacity: 0;

      +.rotating-card {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .pdf-container {
    @include center-content;
    position: relative;
    height: calc(420px / 1.5);

    #pdf {
      display: flex;
      flex-direction: column;
      width: calc(210px / 1.5);
      height: calc(297px / 1.5);
      overflow: hidden;
      border-radius: 3px;
      background-image: url('./assets/background.svg');
      background-size: cover;
      box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);

      &.landscape {
        .footer,
        .header {
          height: 15%;
        }
      }

      .footer,
      .header {
        height: 10%;
        transition: height .5s;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .header {
        background-image: url('./assets/pdf-header.svg');
        background-position: bottom;
      }

      .footer {
        background-image: url('./assets/pdf-footer.svg');
        background-position: top;
      }

      .center {
        @include center-content;
        flex-direction: column;
        flex-grow: 1;
      }
    }
  }
}
