.button.button-primary {
  border-radius: 50px;
  background-image: linear-gradient(fade_out(darken($primary-color, 20%), .2), fade_out(darken($primary-color, 35%), .2));

  &[disabled] {
    &,
    &:active,
    &:hover {
      background-color: lightgrey;
      background-image: none;
    }
  }

  &:active,
  &:hover {
    background-color: black;
  }
}
