<div class="section fancy anchors stripe">
    <div reveal class="container">
        <h3 class="section-heading">Questions fréquentes</h3>
    </div>
</div>

<div class="section">
    <div class="container faq-container">
        <div reveal class="card">
            <div data-collapse class="faq-entry">
                <h4>Licence, maintenance et hébergement</h4>
                <div class="collapsible collapsed">
                    <p><strong>Orca utilise une souscription unique</strong>, qui couvre&nbsp;:</p>
                    <ol type="I">
                        <li>
                            la maintenance, dont&nbsp;:
                            <ul>
                                <li>sauvegarde quotidienne des données</li>
                                <li>mises à jour de la solution</li>
                            </ul>
                        </li>
                        <li>
                            l'hébergement, dont&nbsp;:
                            <ul>
                                <li>chiffrement des échanges avec certificat SSL</li>
                                <li>réplication de votre base de données</li>
                            </ul>
                        </li>
                        <li>
                            l'accès illimité, dont&nbsp;:
                            <ul>
                                <li>comptes utilisateurs illimités</li>
                                <li>support en direct intégré</li>
                            </ul>
                        </li>
                    </ol>
                </div>
            </div>
            <div data-collapse class="collapser"></div>
        </div>
        <div reveal class="card">
            <div data-collapse class="faq-entry">
                <h4>Disponibilité</h4>
                <div class="collapsible collapsed">
                    <p><strong>L'application est accessible 24h/24, 7j/7</strong> de manière générale.</p>
                    <ol type="I">
                        <li>les mises à jour mineures
                            <ul>
                                <li>pour&nbsp;: correction de bugs</li>
                                <li>quand&nbsp;: 4h du matin (heure française)</li>
                                <li>interruption&nbsp;: moins d'une minute</li>
                            </ul>
                        </li>
                        <li>les mises à jours majeures
                            <ul>
                                <li>pour&nbsp;: nouvelles fonctionnalités</li>
                                <li>quand&nbsp;: prévues en accord avec vos administrateurs</li>
                                <li>interruption&nbsp;: une heure</li>
                                <li>peuvent faire l'objet d'une formation aux principaux utilisateurs</li>
                            </ul>
                        </li>
                    </ol>
                </div>
            </div>
            <div data-collapse class="collapser"></div>
        </div>
        <div reveal class="card">
            <div data-collapse class="faq-entry">
                <h4>Intégration / mise à jour des données</h4>
            </div>
            <div data-collapse class="collapser"></div>
        </div>
        <div reveal class="card">
            <div data-collapse class="faq-entry">
                <h4>Puis-je intégrer de nouvelles aptitudes&nbsp;?</h4>
            </div>
            <div data-collapse class="collapser"></div>
        </div>
        <div reveal class="card">
            <div data-collapse class="faq-entry">
                <h4>Puis-je ajuster les cibles à atteindre&nbsp;?</h4>
            </div>
            <div data-collapse class="collapser"></div>
        </div>
        <div reveal class="card">
            <div data-collapse class="faq-entry">
                <h4>Évolution des statistiques</h4>
            </div>
            <div data-collapse class="collapser"></div>
        </div>
        <div reveal class="card">
            <div data-collapse class="faq-entry">
                <h4>Rapports PDF</h4>
            </div>
            <div data-collapse class="collapser"></div>
        </div>
        <div reveal class="card">
            <div data-collapse class="faq-entry">
                <h4>Affichage sur site</h4>
            </div>
            <div data-collapse class="collapser"></div>
        </div>
        <div reveal class="card">
            <div data-collapse class="faq-entry">
                <h4>Personnaliser mon contenu</h4>
                <div class="collapsible collapsed">observed-certificates</div>
            </div>
            <div data-collapse class="collapser"></div>
        </div>
        <div reveal class="card">
            <div data-collapse class="faq-entry">
                <h4>Éditer le message d'accueil</h4>
            </div>
            <div data-collapse class="collapser"></div>
        </div>
        <div reveal class="card">
            <div data-collapse class="faq-entry">
                <h4>Restriction des accès</h4>
            </div>
            <div data-collapse class="collapser"></div>
        </div>
        <div reveal class="card">
            <div data-collapse class="faq-entry">
                <h4>Fiche d'émargement, PV de fin de session</h4>
            </div>
            <div data-collapse class="collapser"></div>
        </div>
    </div>
</div>
