<main-heading>
    <h3 reveal slot="title" class="section-heading">Questions fréquentes</h3>
</main-heading>

<div class="section">
    <div class="container faq-container">
        <div reveal class="card">
            <div data-collapse class="faq-entry">
                <h5>Licence, maintenance et hébergement</h5>
                <div class="collapsible">
                    <p><strong>Orca utilise une souscription unique</strong>, qui couvre&nbsp;:</p>
                    <ol type="I">
                        <li>
                            la maintenance, dont&nbsp;:
                            <ul>
                                <li>sauvegarde quotidienne des données</li>
                                <li>mises à jour de la solution</li>
                            </ul>
                        </li>
                        <li>
                            l'hébergement, dont&nbsp;:
                            <ul>
                                <li>chiffrement des échanges avec certificat SSL</li>
                                <li>réplication de votre base de données</li>
                            </ul>
                        </li>
                        <li>
                            l'accès illimité, dont&nbsp;:
                            <ul>
                                <li>comptes utilisateurs illimités</li>
                                <li>support en direct intégré</li>
                            </ul>
                        </li>
                    </ol>
                </div>
            </div>
            <div data-collapse class="collapser"></div>
        </div>
        <div reveal class="card">
            <div data-collapse class="faq-entry">
                <h5>Disponibilité</h5>
                <div class="collapsible">
                    <p><strong>La solution est accessible 24h/24, 7j/7</strong> de manière générale, sauf&nbsp;:</p>
                    <ol type="I">
                        <li>mise à jour mineure
                            <ul>
                                <li>pour&nbsp;: correction de bugs</li>
                                <li>quand&nbsp;: 4h du matin (heure française)</li>
                                <li>interruption&nbsp;: moins d'une minute</li>
                            </ul>
                        </li>
                        <li>mise à jour majeure
                            <ul>
                                <li>pour&nbsp;: nouvelles fonctionnalités</li>
                                <li>quand&nbsp;: prévue avec vos administrateurs</li>
                                <li>interruption&nbsp;: une heure</li>
                                <li>peut faire l'objet d'une formation aux principaux utilisateurs</li>
                            </ul>
                        </li>
                    </ol>
                </div>
            </div>
            <div data-collapse class="collapser"></div>
        </div>
        <div reveal class="card">
            <div data-collapse class="faq-entry">
                <h5>Intégration / mise à jour des données</h5>
                <div class="collapsible">
                    <p><strong>Orca ne peut pas se "brancher" à un système externe</strong> pour l'instant.</p>
                    <p>Une procédure d'import permet à vos gestionnaires d'intégrer et de mettre à jour vos sites et agents de façon très simple, depuis tout export Excel.</p>
                    <p>Lors de l'installation de votre base, notre équipe s'engage à importer l'intégralité des formations déjà recensées que vous souhaitez inclure dans la solution, quelque soit le format initial de vos données.</p>
                </div>
            </div>
            <div data-collapse class="collapser"></div>
        </div>
        <div reveal class="card">
            <div data-collapse class="faq-entry">
                <h5>Puis-je intégrer de nouvelles habilitations&nbsp;?</h5>
                <div class="collapsible">
                    <p><strong>C'est vous qui controllez les certifications</strong> qu'Orca pilote.</p>
                    <p>Vous pouvez à tout moment, sans le moindre frais, configurer de nouvelles &ldquo;aptitudes&rdquo; à contrôler dans la solution.</p>
                    <p>Ne vous limitez pas aux formations <abbr title="Sauveteur Secouriste du Travail">SST</abbr>, <abbr title="Défibrillateur Automatisé Externe">DAE</abbr> et <abbr title="Équipement de Première Intervention">EPI</abbr>... ajoutez également vos habilitations électriques, sanitaires, voire même le suivi de vos exercices d'évacuation&nbsp;!</p>
                </div>
            </div>
            <div data-collapse class="collapser"></div>
        </div>
        <div reveal class="card">
            <div data-collapse class="faq-entry">
                <h5>Puis-je ajuster les cibles à atteindre&nbsp;?</h5>
            </div>
            <div data-collapse class="collapser"></div>
        </div>
        <div reveal class="card">
            <div data-collapse class="faq-entry">
                <h5>Évolution des statistiques</h5>
            </div>
            <div data-collapse class="collapser"></div>
        </div>
        <div reveal class="card">
            <div data-collapse class="faq-entry">
                <h5>Rapports PDF</h5>
            </div>
            <div data-collapse class="collapser"></div>
        </div>
        <div reveal class="card">
            <div data-collapse class="faq-entry">
                <h5>Affichage sur site</h5>
            </div>
            <div data-collapse class="collapser"></div>
        </div>
        <div reveal class="card">
            <div data-collapse class="faq-entry">
                <h5>Personnaliser mon contenu</h5>
                <div class="collapsible">observed-certificates</div>
            </div>
            <div data-collapse class="collapser"></div>
        </div>
        <div reveal class="card">
            <div data-collapse class="faq-entry">
                <h5>Éditer le message d'accueil</h5>
            </div>
            <div data-collapse class="collapser"></div>
        </div>
        <div reveal class="card">
            <div data-collapse class="faq-entry">
                <h5>Restriction des accès</h5>
            </div>
            <div data-collapse class="collapser"></div>
        </div>
        <div reveal class="card">
            <div data-collapse class="faq-entry">
                <h5>Fiche d'émargement, PV de fin de session</h5>
            </div>
            <div data-collapse class="collapser"></div>
        </div>
    </div>
</div>
