<main-heading>
    <div reveal slot="title" class="container">
        <h3 class="section-heading">Offres et tarifs</h3>
    </div>
</main-heading>

<div class="section">
    <div class="container">
        <div class="pricing-grid">
            <pricing-card labels-only></pricing-card>
            <pricing-card class="micro" reveal>
                <h3 slot="heading"><a class="hover-underline-animation" href="javascript:void(0)" data-modal-trigger="modal-contact-us">micro</a></h3>
                <div slot="heading-reveal">280€/mois</div>
                <span slot="support">Courriel</span>
                <span slot="data-replication">✗</span>
                <span slot="employees">≤ 500</span>
                <a slot="footer" class="hover-underline-animation" href="javascript:void(0)" data-modal-trigger="modal-contact-us">En savoir plus</a>
            </pricing-card>
            <pricing-card bigger class="business" reveal>
                <h3 slot="heading"><a class="hover-underline-animation" href="javascript:void(0)" data-modal-trigger="modal-contact-us">business</a></h3>
                <div slot="heading-reveal">dès 860€/mois</div>
                <span slot="employees">65€/500 agents</span>
                <a slot="footer" class="hover-underline-animation" href="javascript:void(0)" data-modal-trigger="modal-contact-us">En savoir plus</a>
            </pricing-card>
            <pricing-card class="partner" reveal>
                <h3 slot="heading"><a class="hover-underline-animation" href="javascript:void(0)" data-modal-trigger="modal-contact-us">partner</a></h3>
                <div slot="heading-reveal">2280€/mois</div>
                <span class="nice" slot="networking">Haute</span>
                <span class="nice" slot="database">Dédiée</span>
                <span class="nice" slot="server-monitoring">✓</span>
                <span class="nice" slot="employees">Illimités</span>
                <span class="nice" slot="agile">✓</span>
                <a slot="footer" class="hover-underline-animation" href="javascript:void(0)" data-modal-trigger="modal-contact-us">En savoir plus</a>
            </pricing-card>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <p reveal class="section-description">
            Un besoin particulier&nbsp;? Plus de 10&nbsp;000 agents&nbsp;?<br />
            Vous souhaitez davantage d'informations&nbsp;?
        </p>
        <a reveal class="button button-primary" href="javascript:void(0)" data-modal-trigger="modal-contact-us">Contactez-nous</a>
    </div>
</div>
