.pricing-grid {
  display: grid;
  grid-row-gap: 2rem;
  grid-template: 'micro' 'business' 'partner';
  @media($bp-larger-than-desktop) {
    grid-template: 'labels micro business partner' auto / 2fr 1fr 1fr 1fr;
  }
}

pricing-card h3 {
  margin-bottom: 1rem;
}

.hover-underline-animation {
  --color: white;
}

.micro {
  --background: #{desaturate($primary-color, 40%)};
}

.partner {
  --background: #{desaturate(#008577, 30%)};
}
