.strengths {
  display: grid;
  grid-gap: 2rem 4%;
  grid-template: '.';
  @media($bp-larger-than-tablet) {
    grid-template: '. .';
  }
  @media($bp-larger-than-desktop) {
    grid-template: '. . .';
  }
}

.strength-card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 2rem 4%;
  justify-items: center;

  p {
    margin: auto 0 0;
  }
}

img.icon {
  max-width: 150px;
}
