.menu-toggle {
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  float: left;
  transform-origin: top left;
  border: 2px solid darken(white, 10%);
  border-top: 0;
  border-left: 0;
  border-bottom-right-radius: 100%;
  background-color: black;
  background-image: linear-gradient(black, fade_out(darken($primary-color, 35%), .2) 45%, fade_out(darken($primary-color, 20%), .2));
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  cursor: pointer;
}

.menu-items {
  @include center-content;
  align-items: flex-start;

  a {
    color: grey;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    $item-count: 4;
    --color: grey;
    @for $i from 1 through ($item-count) {
      &:nth-child(#{$i}) {
        left: 3rem * ($item-count - $i);
      }
    }

    + a {
      margin-top: 1rem;
    }

    &:hover {
      color: black;
    }
  }
}
