.modal__overlay {
  @include center-content;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal__container {
  @include card;
  box-sizing: border-box;
  max-width: 500px;
  overflow-y: auto;
  opacity: 0;
  background-color: #fff;
  will-change: transform;

  .button {
    margin: 0;
  }

  > * {
    padding: 0 3rem;
  }

  > :last-child,
  > :first-child {
    padding: 2rem 3rem;
  }
}

.modal__title {
  box-sizing: border-box;
  margin: 0;
  color: $primary-color;
}

.modal__content {
  max-height: 50vh;
  overflow-y: auto;
  background: linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
  background: linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}

.modal {
  display: none;

  &.is-open {
    display: block;
  }

  &[aria-hidden="false"] .modal__container {
    animation: flyIn .5s cubic-bezier(.175, .885, .32, 1.275) .25s forwards; // ease-out-back
  }

  &[aria-hidden="true"] .modal__container {
    animation: flyOut .25s cubic-bezier(.6, -.28, .735, .045); // ease-in-back
  }
}
@keyframes flyIn {
  0%,
  25% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes flyOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}
