@import './sections/fancy';
@import './sections/footer';
@import './sections/hero';

.section {
  padding: 8rem 0 7rem;
  text-align: center;
  @media ($bp-larger-than-phablet) {
    padding: 12rem 0 11rem;
  }
  @media ($bp-larger-than-tablet) {
    padding: 15rem 0 14rem;

    .container > .section-description {
      max-width: 60%;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &:not(.fancy) + &:not(.fancy) {
    padding-top: 0;
  }

  .section-heading {
    margin-bottom: 1.2rem;
  }

  .section-description {
    text-align: center;
  }
}
