$link-color: darken(saturate($primary-color, 50%), 10%) !default;
$font-family: 'Montserrat', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;

orca-logo {
  --primary-color: #{$primary-color};
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

abbr[title] {
  text-decoration: none;
}
