$link-color: darken(saturate($primary-color, 50%), 10%) !default;
$font-family: 'Montserrat', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;

orca-logo {
  --primary-color: #{$primary-color};
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

abbr[title] {
  text-decoration: none;
}

p {
  text-align: justify;
}

ol,
ul {
  margin-top: 0;
  font-size: 100%;

  li {
    margin: 0;
    text-align: left;
  }
}

.hover-underline-animation {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: var(--color, #ccc);

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--color, #ccc);
    transform-origin: bottom right;
    transition: transform .25s ease-out;
  }

  &:active::after,
  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
